@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

body {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Gotham';
    font-weight: 300;
    line-height: 1, 42em;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

h1,
h2 {
    margin: 0;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.container {
    width: 1100px;
    padding: 0 20px;
    margin: 0 auto;
}


/* HEADER */

.header {
    min-width: 1100px;
    background-color: #27273e;
}

.header__logo {
    float: left;
    width: 50%;
    padding: 20px 0 0;
}

.logo {
    position: relative;
    display: inline-block;
}

.contacts {
    float: right;
    width: 50%;
    padding: 25px 0 18px;
    text-align: right;
}

.contacts__phone {
    font-weight: 700;
    font-size: 21px;
    color: #FFF;
    text-decoration: none;
    margin-bottom: 5px;
}

.popup {
    position: relative;
}

.popup:hover .dropdown {
  display: block;
}

.popup__hours {
    display: inline-block;
    color: #ec1e79;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
    opacity: .7;
    transition: all .3s;
    cursor: pointer;
}

.popup__hours:hover {
  color: #5dd1f8;
  opacity: .7;
}

.dropdown {
  padding: 17px 15px;
  box-shadow: 0px 0px 10px 0px rgba(23, 59, 117, 0.55);
  background: #fff;
  border-radius: 5px 0 5px 5px;
  text-align: left;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1000;
  margin-top: 23px;
  display: none;
}

.dropdown:before {
  content: "";
  display: block;
  border: 11px solid transparent;
  border-top-width: 0;
  border-bottom-color: #fff;
  position: absolute;
  top: -11px;
  right: 0;
}

.dropdown:after {
  content: "";
  display: block;
  position: absolute;
  height: 25px;
  left: 0;
  right: 0;
  top: -25px;
}

.popup__text-open {
  font-size: 14px;
  font-weight: bold;
  color: #ec1e79;
  font-weight: bold;
  margin-bottom: 10px;
}

.popup__text-dinner {
  font-size: 14px;
  color: #221f1f;
}

/* % */

.sidebar {
    float: left;
    width: 10%;
}

.main-content {
    float: right;
    width: 83%;
}


/*NAVIGATION*/

.menu {
    margin-top: 45px;
}

.nav-menu__item {
    padding: 5px 0;
    margin-bottom: 25px;
}

.nav-menu__item:last-child {
    margin-bottom: 0;
}



.nav-menu__link {
    position: relative;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #ec1e79;
    padding-left: 40px;
    transition: all .4s;
    padding-bottom: 10px;
    padding-top: 10px;
    line-height: 0;
}




.nav-menu__link::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    background-repeat: no-repeat;
}

.nav-menu__icon-main:before {
    content: "";
    width: 17px;
    height: 15px;
    background: url('../img/icons/main_hover.png');
}


.nav-menu__icon-main:hover::before {
    background: url('../img/icons/main.png');
}

.nav-menu__icon-rates::before {
    content: "";
    width: 19px;
    height: 16px;
    background: url('../img/icons/wallet_icon_hover.png');
}

.nav-menu__icon-rates:hover::before {
    background: url('../img/icons/wallet_icon.png');
}

.nav-menu__icon-reviews::before {
    content: "";
    width: 20px;
    height: 18px;
    background: url('../img/icons/feed_icon_hover.png');
}

.nav-menu__icon-reviews:hover::before {
    background: url('../img/icons/feed_icon.png');
}

.nav-menu__link:hover {
    color: #221f1f;
    text-transform: uppercase;
    font-weight: 700;
}


/* FOOTER */

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    min-width: 1100px;
    background-color: #27273e;
    height: 80px;
    overflow: hidden;
}

.footer__left {
    width: 40%;
    float: left;
    padding-top: 10px;
}

.footer__left-description {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.3;
}

.footer__left-link,
.footer__left-author {
    font-weight: 700;
}

.footer__left-link {
    color: #FFFFFF;
}

.footer__logo {
    width: 20%;
    padding-top: 15px;
    float: left;
    text-align: center;
}

.footer__right {
    width: 40%;
    float: right;
    padding-top: 20px;
    text-align: right;
}

.footer__social {
    display: inline-block;
}

.footer__social-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
}

.footer__social-list {
    font-size: 0;
    text-align: left;
}

.footer__social-item {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 11px;
}

.footer__social-item:first-child {
    margin-left: 0;
}

.footer__social-links {
    display: block;
    transition: all .5s;
}

.footer__social-icon--vk {
    background: url('../img/icons/vk.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 20px;
    height: 20px;
}

.footer__social-icon--vk:hover {
    background: url('../img/icons/vk_hover.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 20px;
    height: 20px;
}

.footer__social-icon--fb {
    background: url('../img/icons/fb.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 20px;
    height: 20px;
}

.footer__social-icon--fb:hover {
    background: url('../img/icons/fb_hover.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 20px;
    height: 20px;
}

.footer__social-icon--gplus {
    background: url('../img/icons/gplus.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 20px;
    height: 20px;
}

.footer__social-icon--gplus:hover {
    background: url('../img/icons/gplus_hover.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 20px;
    height: 20px;
}

.footer__social-icon--tw {
    background: url('../img/icons/twitter.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 20px;
    height: 20px;
}

.footer__social-icon--tw:hover {
    background: url('../img/icons/twitter_hover.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 20px;
    height: 20px;
}

.footer__social-icon--mail {
    background: url('../img/icons/mail.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 20px;
    height: 20px;
}

.footer__social-icon--mail:hover {
    background: url('../img/icons/mail_hover.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 20px;
    height: 20px;
}